*{
    padding: 0px;
    margin: 0px;
}

header{
    background: rgb(47, 115, 188);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

section div{
    width: 50% auto;
    height: auto;
    text-align: center;
    background-color: rgb(249, 255, 127);
}

section div h2{
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section div img{
    width: 30%;
    margin-bottom: 3%;
    border-top-left-radius: 40px;
}

.ultimo{
    padding-bottom: 10%;
}


footer{
    background: rgb(63, 63, 63);
    color: white;
    padding: 50px;
    text-align: center;
}